.App {
  text-align: center;
  margin: 5em;
}

textarea {
  width: 500px;
  height: 300px;
}

button {
  background-color: dodgerblue;
  color: white;
  height: 50px;
  width: 100px;
  border-radius: 15px;
  margin-bottom: 10px;
  border: none;
}

.loading {
  display: flex;
  justify-content: center;
}

svg{
  width: 100px;
  height: 100px;
  margin: 20px;
  display:inline-block;
}